.bode{
    font-size:20px;
    padding-left:20px;
    padding-bottom:40px;
    text-align: center;
    color:rgb(41, 76, 141);
    background-color: rgb(247, 216, 133);
}

.topo
{
    color:indianred;
}