.cordeParede{
  background-color: rgb(247, 216, 133);
}

.carango{
    text-align: center;
    color:darkblue;
    font-size: 20px;
    background-color: rgb(247, 216, 133);
  }


.Teste02{
    color:rgb(150, 34, 165);
    font-size:42px;
    margin-left: 20px;
    text-align: center;
    background-color: rgb(247, 216, 133);
    }
  
.ben857{
    color:rgb(160, 11, 11);
    font: size 25px;
    margin-left: 50px;
    text-align: left;
    background-color: rgb(247, 216, 133);
  }

  .campos{
    padding: 20px;
    margin: 10px;
    color:royalblue;
    border-radius: 30px;
  }